# pip install all libraries
langchain
langchain-core 
langchain-huggingface 
transformers 
huggingface-hub 
python-dotenv 
numpy 
scikit-learn
langchain-text-splitters
chromadb
openai 
tiktoken
langchain_openai
wikipedia
langchain-community



# all available model for API (inference) ----> https://huggingface.co/inference/models