# pip install all libraries
langchain
langchain-core 
langchain-huggingface 
transformers 
huggingface-hub 
python-dotenv 
numpy 
scikit-learn



# all available model for API (inference) ----> https://huggingface.co/inference/models